code.code-raw {
    font-family: monospace;
    white-space: pre;
    border-radius: 15px;
    display: block;
    padding: 3% 20%;
    margin: 5%;
    text-overflow: nowrap;
    overflow: visible;
    color: var(--solarized-base-one);
    background-color: var(--solarized-base-zero-three);
    height: fit-content;
    wdith: fit-content;
}

code.code-raw span.wicked {
    color: var(--solarized-cyan);
}
