div.flex-direction-example {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:  100px;
    height: 0;
    transition: all 1s;
    align-items: center;
}

div.flex-direction-example:hover {
    width: 800px;
}

div.flex-direction-example h3 {
    position: absolute;
    text-align: center;
    padding: 20px;
}

div.flex-direction-example-first h3 {
    background-color: pink;
}

div.flex-direction-example-second h3 {
    background-color: lightblue;
}

div.flex-direction-example-third h3 {
    background-color: lightgreen;
}

div.flex-direction-example-fourth h3 {
    background-color: violet;
}
