/* based on Ethan Schoonover's Solarized:
     https://ethanschoonover.com/solarized/ */

:root {
    --solarized-base-one: #93a1a1;
    --solarized-base-two: #eee8d5;
    --solarized-base-zero-three: #002b36;
    --solarized-cyan: #2aa198;
}
